@charset "UTF-8";

/* 

Typical Device Breakpoints
-------------------------------

· Pequenas Telas: até 600px
· Celular: de 600px até 768px
· Tablet: 768px até 992px
· Desktop: 992px até 1200px
· Grandes Telas: acima de 1200px

-------------------------------

Color Palette
   --cor0:  #532524 
   --cor1:  #c4933f
   --cor2:  #e0d5bb

-------------------------------

Font
    font-family: dystopian, sans-serif;
    font-style: normal;
    font-weight: 300;


   Creating variable for color.font */

:root {
    --cor0: #532524;
    --cor1: #c4933f;
    --cor2: #e0d5bb;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android: 'Android', cursive;
    --font-principal: 'dystopian', sans-serif;
}

/* Configuration for Tablet and Big Screens */

@media screen and (min-width: 900px) {

/* CSS · Referring to the Menu */

    nav#iconmenu {
        display: none;
    }

    nav {
        font-family: var(--font-principal);
        display: block;
        text-align: center;
    }

    nav > ul > li {
        display: inline-block;
        color: var(--cor0);
    }

/* CSS · Referring to the banner */

    section#banner {
        height: 300px;
    }
    div#textbanner {
        position: relative;
        margin-left: 30vh;
        padding: 30px;
        border-radius: 15px 0px 15px 0px;
    }

    div#textbanner > p {
        font-size: 2em;
        line-height: 6vh;
    }

    main {
        width: 100vw;
    }

/* CSS · Referring to the event */

    section#event {
        width: 100vw;
        height: 600px;
        margin: auto;
    }
    section#event > div#eventext {
        float: right;
        width: 30%;
        margin-right: 300px;
        border: 1px solid black;
    }
    section#event > div#imgevent {
        float: left;
        width: 30%;
        height: 50vh;
        margin-left: 300px;

    } 
    div#imgevent {
        border: 2px solid var(--cor0);
        
    }

}