@charset "UTF-8";

/* 

Typical Device Breakpoints
-------------------------------

· Pequenas Telas: até 600px
· Celular: de 600px até 768px
· Tablet: 768px até 992px
· Desktop: 992px até 1200px
· Grandes Telas: acima de 1200px

-------------------------------

Color Palette
   --cor0:  #532524 
   --cor1:  #c4933f
   --cor2:  #e0d5bb

-------------------------------

Font
    font-family: dystopian, sans-serif;
    font-style: normal;
    font-weight: 300;


   Creating variable for color.font */

:root {
    --cor0: #532524;
    --cor1: #c4933f;
    --cor2: #e0d5bb;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android: 'Android', cursive;
    --font-principal: 'dystopian', sans-serif;
}

/* Configuration for Tablet and Big Screens */

@media screen and (min-width: 768px) {
    
    body {
        width: 100vw;
    }

    header {
        width: 100vw;
        height: 150px;
        background-color: var(--cor2);
        padding-bottom: 1px;
    }

    div#topologo {
        width: 100vw;
        text-align: center;
        margin: 0px;
        padding: 30px 0px 20px 0px;
    }

    p#logogran {
        font-family: var(--fonte-granulados);
        color: var(--cor0);
        font-size: 3em;
        margin-top: 3px;
    }

    i#iconmenu {
        display: none;
    }

    menu {
        font-family: var(--font-principal);
        display: block;
        text-align: center;
    }

    menu > ul > li {
        display: inline-block;
        color: var(--cor0);
    }

    menu > ul {
        list-style-type: none;
        border-top: none;
    }

    menu > ul > li > a {
        display: block;
        background-color: var(--cor2);
        color: var(--cor0);
        text-decoration: none;
        font-family: var(--font-principal);
        font-size: 1em;
        padding-top: 2px;
        margin-bottom: 15px;
    }

    section#banner {
        height: 300px;
    }

    div#textbanner {
        position: relative;
        margin-left: 30vh;
        padding: 30px;
    }

    div#textbanner > p {
        font-size: 2em;
        line-height: 6vh;
    }
    main {
        width: 100vw;
    }

    section#event {
        border: 1px solid black;
    }

    section#event > h2 {
        border: 1px solid black;
    }

    section#event > p {
        width: auto;
        text-align: center;
        border: 1px solid black;
    }

    div.eventdiv {
        display: inline-block;
        width: 70vh;
        margin: auto;
    }    
    
    div#ptext > p {
        border: 1px solid black;
        text-align: justify;
        padding: 0px 30px 30px 30px;
        font-family: var(--font-principal);
        color: var(--cor2);
        margin: auto;
    }

    div#imgevent {
        border: 1px solid black;
        margin-left: 30vh;
    }
}