@charset "UTF-8";

/* Typical Device Breakpoints
-------------------------------

· Pequenas Telas: até 600px
· Celular: de 600px até 768px
· Tablet: 768px até 992px
· Desktop: 992px até 1200px
· Grandes Telas: acima de 1200px

-------------------------------

Color Palette
   --cor0:  #532524 
   --cor1:  #c4933f
   --cor2:  #e0d5bb

-------------------------------

Font
    font-family: dystopian, sans-serif;
    font-style: normal;
    font-weight: 300;


   Creating variable for color.font */

:root {
    --cor0: #532524;
    --cor1: #c4933f;
    --cor2: #e0d5bb;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-briga: seravek-web, sans-serif;
    --fonte-granulados: 'Caligna', cursive;
    --font-principal: dystopian, sans-serif;
}

/* Configuration for Tablet */

@media screen and (min-width: 992px) and (max-width: 1200px){

    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 3rem 1rem 3rem;
    }

    /* CSS · Referring to the Menu */

    nav#iconmenu {
        display: none;
    }

    nav {
        font-family: var(--font-principal);
        display: block;
        text-align: center;
    }

    nav > ul > li {
        display: inline-block;
        color: var(--cor0);
    }
    .menu a:hover {
        background: none;
        color: var(--cor1);
        transition: 0.8s;
    }
}

/* Configuration for Big Screens */

@media screen and (min-width: 1200px) {

    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 10rem 1rem 10rem;
    }

/* CSS · Referring to the Menu */

    nav#iconmenu {
        display: none;
    }

    nav {
        font-family: var(--font-principal);
        display: block;
        text-align: center;
    }

    nav > ul > li {
        display: inline-block;
        color: var(--cor0);
    }
    .menu a:hover {
        background: none;
        color: var(--cor1);
        transition: 0.8s;
    }

/* CSS · Referring to the banner */

    section#banner {
        height: 20rem;
    }

    p#textbanner {
        display: flex;
        background-color: var(--cor2);
        color: var(--cor0);
        font-family: var(--font-principal);
        font-size: 3em;
        padding: 0.5rem;
        height: 2.5em;
        box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.367); 
    }

/* CSS · Referring to the Artisanal */

    section#artisanal > p {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem 10rem 3rem 10rem;
    }


/* CSS · Referring to the event */

    section#event > p {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem 10rem 3rem 10rem;
    }

/* CSS · Referring to the contact */

    section#contact > h2 {
        padding: 3rem 10rem 3rem 10rem;
    }

    section#contact > p {
        justify-content: left;
        padding-left: 10rem;
        color: var(--cor0);
        font-family: var(--fonte-padrao);
    }

/* CSS · Referring to the Location */

    section#location > h2 {
        padding: 3rem 10rem 3rem 10rem;
    }
}