@charset "UTF-8";

/*

Version

Visual Identity· Granulados

Color Palette

   --cor0: #532524 
   --cor1: #c4933f
   --cor2: #e0d5bb

-------------------------------

Font
    font-family: dystopian, sans-serif;
    font-style: normal;
    font-weight: 300;

*/

@font-face {
    font-family: 'Caligna'; /* Cria um nome para a sua fonte que add ao arquivo e utiliza esse nome dentro da font-family. Ex. no h2 e p */
    src: url('../font/CalignaDEMO.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Creating variable for color.font */

:root {
    --cor0: #532524;
    --cor1: #c4933f;
    --cor2: #e0d5bb;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-briga: seravek-web, sans-serif;
    --fonte-granulados: 'Caligna', cursive;
    --font-principal: dystopian, sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

body, html {
    height: 100vh;
    width: 100vw;
    background-color: var(--cor2);
}

/* CSS · Referring to the Menu  */

a {
    color: var(--cor0);
    text-decoration: none;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--cor2);
    height: 4.6875rem;
    padding: 1rem;
}

.logo {
    font-family: var(--fonte-granulados);
    font-size: 2em;
    color: var(--cor0);
}

.menu a {
    display: block;
    padding: 1rem;
    border-radius: 0.5rem;
}

.menu a:hover {
    background:#d2c7ac;
    color: var(--cor1);
}

.btn-menu {
    display: none;
}

@media (max-width: 900px) {

    .menu {
        display: block;
        position: absolute;
        top: 5rem;
        left: 0;
        background: var(--cor2);
        text-align: center;
        width: 100%;
        height: 0;
        z-index: 1;
        visibility: hidden;
        overflow-y: hidden;
        transition: 0.5s;
    }

    .menu a {
        padding: 1rem 0;
        margin-inline: 1rem;
        border-radius: 0;
        font-family: var(--font-principal);
    }
    
    .btn-menu {
        background: none;
        border: none;
        font: inherit;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        color: var(--cor0);
        padding: 1rem 0;
        cursor: pointer;
    }

    .hamburger {
        border-top: 0.125rem solid;
        width: 1.25rem;
    }

    .hamburger::after,
    .hamburger::before {
    content: " ";
    display: block;
    width: 1.25rem;
    height: 0.125rem;
    background: currentColor;
    margin-top: 0.3125rem;
    position: relative;
    transition: 0.3s;
  }

  .nav.active .menu {
    height: calc(42vh - 4.6875rem);
    visibility: visible;
    overflow-y: auto;
    border-bottom: 30px solid var(--cor0);
  }

  .nav.active .hamburger {
    border-top-color: transparent;
  }

  .nav.active .hamburger::before {
    transform: rotate(135deg);
  }
  
  .nav.active .hamburger::after {
    transform: rotate(-135deg);
    top: -0.4375rem;
  }
}

/* CSS · Referring to the banner */

section#banner {
    padding-top: 20vh;
    padding-bottom: 20vh;
    line-height: 2em;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.267);
    background: url('../image/img04.jpeg') no-repeat top right;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

div#textbanner {
    display: inline-block;
    background-color: var(--cor2);
    color: var(--cor0);
    font-family: var(--font-principal);
    font-size: 1.5em;
    margin-left: 30px;
    box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.367); 
    border-radius: 10px 0px 10px 0px;  
}

div#textbanner > p {
    padding: 10px;
    text-align: left;
}

/* CSS · Referring to the artisanal  */

section#artisanal {
    background-color: var(--cor2);
}

section#artisanal > h2 {
    padding: 30px;
    font-family: var(--font-principal);
    color: var(--cor0);
    text-align: center;
}
div#artisanaltext > p {
    text-align: justify;
    padding: 0px 30px 30px 30px;
    font-family: var(--font-principal);
    color: var(--cor0);
}

div#imgartisanal {
    background: url('../image/img06.jpeg') no-repeat left;
    height: 50vh;
}

/* CSS · Referring to the event  */

section#event {
    background-color: var(--cor1);
}

section#event > h2 {
    padding: 30px;
    font-family: var(--font-principal);
    color: var(--cor0);
    text-align: center;
}
div#eventext > p {
    text-align: justify;
    padding: 0px 30px 30px 30px;
    font-family: var(--font-principal);
    color: var(--cor2);
}

div#imgevent {
    background: url('../image/img05.jpeg') no-repeat left;
    height: 50vh;
}

/* CSS · Referring to the contact  */

section#contact {
    background-color: var(--cor2);
}

section#contact > h2 {
    font-family: var(--font-principal);
    color: var(--cor0);
    text-align: center;
    padding: 30px 30px 12px 30px;
}

section#contact > p {
    font-family: var(--font-principal);
    color: var(--cor0);
    text-align: center;
    padding-bottom: 30px;
}

a#whastapp {
    text-decoration: none;
    color: var(--cor0);
}

a#whastapp:hover {
    color: var(--cor1);
}

/* CSS · Referring to the location  */

section#location {
    position: relative;
}

section#location > h2 {
    font-family: var(--font-principal);
    color: var(--cor0);
    background-color: var(--cor2);
    padding: 30px 30px 30px 30px;
}

/* CSS · Referring to the footer  */

footer {
    background-color: var(--cor0);
    height: 150px;
    width: 100vw;
}

div#toprodape {
    background-color:#391d1c;
    height: 30px;
    margin-top: -4px;
}

footer p {
    font-family: var(--font-principal);
    font-size: 0.5em;
    text-align: center;
    color: var(--cor2);
    padding-top: 5px;
}

p#logorodape {
    font-family: var(--fonte-granulados);
    color: var(--cor2);
    font-size: 1.5em;
    padding-top: 70px;
}