@charset "UTF-8";

/*

Version

Visual Identity· Granulados

Color Palette

   --cor0: #532524 
   --cor1: #c4933f
   --cor2: #e0d5bb

-------------------------------

Font
    · Dystopian
    font-family: dystopian, sans-serif;
    font-style: normal;
    font-weight: 300;

    · Seravek
    font-family: seravek-web, sans-serif;
    font-weight: 200;
    font-style: normal;

*/

@import url('../fontawesome-free-6.2.0-web/css/all.min.css');

@font-face {
    font-family: 'Caligna';
    src: url('../font/CalignaDEMO.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Creating variable for color.font */

:root {
    --cor0: #532524;
    --cor1: #c4933f;
    --cor2: #e0d5bb;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-briga: seravek-web, sans-serif;
    --fonte-granulados: 'Caligna', cursive;
    --font-principal: dystopian, sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

/* Apply the smooth movement of the call to each section of the menu */

html {
    scroll-behavior: smooth; 
}

body, html {
    height: 100vh;
    width: 100vw;
    background-color: var(--cor2);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--cor2);
    height: 4.6875rem;
    padding: 1rem;
}

p.textsection {
    font-family: var(--fonte-briga);
    color: var(--cor0);
    text-align: justify;
    padding: 2rem;
}

h2 {
    padding: 30px;
    font-family: var(--font-principal);
    color: var(--cor0);
    text-align: center;
    font-weight: 2;
}

/* CSS · Referring to the Menu  */

a {
    color: var(--cor0);
    text-decoration: none;
}

.logo {
    font-family: var(--fonte-granulados);
    font-size: 2em;
    color: var(--cor0);
}

.menu a {
    display: block;
    padding: 1rem;
    border-radius: 0.5rem;
}

.menu a:hover {
    background:#d2c7ac;
    color: var(--cor1);
    transition: 0.8s;
}

.btn-menu {
    display: none;
}

@media screen and (max-width: 992px) {

    .menu {
        display: block;
        position: absolute;
        top: 5rem;
        left: 0;
        background: var(--cor2);
        text-align: right;
        width: 100%;
        height: 0;
        z-index: 1;
        visibility: hidden;
        overflow-y: hidden;
        transition: 0.5s;
    }

    .menu a {
        padding: 1rem 0;
        margin-inline: 1rem;
        border-radius: 0;
        font-family: var(--font-principal);
    }
    
    .btn-menu {
        background: none;
        border: none;
        font: inherit;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        color: var(--cor0);
        padding: 1rem 0;
        cursor: pointer;
    }

    .hamburger {
        border-top: 0.125rem solid;
        width: 1.25rem;
    }

    .hamburger::after,
    .hamburger::before {
    content: " ";
    display: block;
    width: 1.25rem;
    height: 0.125rem;
    background: currentColor;
    margin-top: 0.3125rem;
    position: relative;
    transition: 0.3s;
  }

  .nav.active .menu {
    height: calc(42vh - 4.6875rem);
    visibility: visible;
    overflow-y: auto;
  }

  .nav.active .hamburger {
    border-top-color: transparent;
  }

  .nav.active .hamburger::before {
    transform: rotate(135deg);
  }
  
  .nav.active .hamburger::after {
    transform: rotate(-135deg);
    top: -0.4375rem;
  }
}

/* CSS · Referring to the banner */

section#banner {
    display: flex;
    justify-content: space-between;
    padding: 10rem;
    background: url('../image/banner01.png') no-repeat;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.267);
}

section#banner > p#textbanner {
    display: flex;
    background-color: var(--cor2);
    color: var(--cor0);
    font-family: var(--fonte-briga);
    font-size: 2em;
    padding: 0.5rem;
    box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.367);
}

/* CSS · Referring to the artisanal  */

div#imgartisanal {
    background: url('../image/imgconf.png') no-repeat;
    height: 50vh;
    background-size: cover;
    border-bottom: 15px solid var(--cor0);
}

div#containerartisanal > h3 {
    font-family: var(--font-principal);
    color: var(--cor0);
    margin-top: 12px;
    font-weight: 500;
    text-align: center;
}

/* CSS · Referring to the event  */

section#event {
    background-color: var(--cor1);
}

div#imgevent {
    background: url('../image/eventbanner.png') no-repeat center;
    height: 50vh;
    background-size: cover;
}

/* CSS · Referring to the contact  */

section#contact {
    text-align: center;
}

section#contact > p.textcontac {
    color: var(--cor0);
    font-family: var(--fonte-briga);
    padding: 0 0 2rem 0;
}

a#whastapp {
    color: var(--cor2);
    background: var(--cor0);
    padding: 10px 100px 10px 100px;
    border-radius: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.400);
    box-sizing: border-box;
    
}

a#whastapp:hover {
    color: var(--cor0);
    background: var(--cor1);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.148);
    transition: 0.5s;
}

/* CSS · Referring to the location  */

section#location {
    position: relative;
}

section#location > h2 {
    text-align: left;
}

/* CSS · Referring to the footer  */

footer {
    align-items: center;
    justify-content: center;
    background-color: var(--cor0);
}

footer > section#redes-sociais {
    text-align: center;
    background-color: #391d1c;
}

footer > section#redes-sociais > p#reds {
    font-family: var(--fonte-briga);
    color: var(--cor2);
    text-align: center;
    font-size: 0.8rem;
    padding: 1rem;
}

footer > p#logorodape {
    font-family: var(--fonte-granulados);
    color: var(--cor2);
    font-size: 1.5em;
    text-align: center;
    padding-top: 2rem;
}

footer > p#brigadeiros {
    font-family: var(--fonte-briga);
    color: var(--cor2);
    font-size: 0.3rem;
    text-align: center;
    font-weight: 900;
    letter-spacing: 0.07rem;
    padding-bottom: 1rem;
}

footer p#footerp {
    font-family: var(--fonte-briga);
    text-align: center;
    color: var(--cor2);
    font-size: 0.5em;
    padding-bottom: 1rem;
}

.fa-brands {
    color: var(--cor2);
    padding: 1rem 0.8rem 1.5rem 0.8rem;
}

.fa-brands:hover {
    color: var(--cor1);
    transition: 0.5s;
}