@charset "UTF-8";

/*

Identidade Visual · Granulados

Paleta de Cores
   Vinho   #532524 
   Dourado #c4933f
   Bege    #e0d5bb

-------------------------------

Fontes
    font-family: dystopian, sans-serif;
    font-style: normal;
    font-weight: 300;

*/

/* Variaveis Color.Font */
:root {
    --cor0: #532524;
    --cor1: #c4933f;
    --cor2: #e0d5bb;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android: 'Android', cursive;
    --font-principal: 'dystopian', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

body, html {
    min-height: 100%;
    background-color: var(--cor2);
    font-family: var(--font-principal);
}

header {
    text-align: center;
    padding-top: 5vh;
    padding-bottom: 2vh;
}

i#iconmenu {
    background-color: var(--cor1);
    color: var(--cor0);
    display: block;
    text-align: left;
    padding: 30px;
    margin-top: 30px;
    margin-bottom: -22px;
    cursor: pointer;
}

i#iconmenu:hover {
    background-color: var(--cor1);
    color: var(--cor2);
}

menu {
    display: none;
}

menu > ul {
    list-style-type: none;
}

menu > ul > li > a {
    display: block;
    padding: 5px;
    text-decoration: 2px var(--cor0);
    text-align: center;
    background-color: var(--cor1);
    color: var(--cor0);
}

menu > ul > li > a:hover {
    color: var(--cor2);
}

section {
    padding-top: 20vh;
    padding-bottom: 20vh;
    line-height: 2em;
}

section > h2 {
    text-align: center;
    padding: 15px;
}

section.secmenu {

}

section.banner {

}

.logotipo {
    margin: 0px;
}

section.secmenu {
    padding-top: 35vh;
    padding-bottom: 35vh;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.267);
    background-size: cover;
    background-attachment: fixed;
}

section.secmenu > p {
    display: inline-block;
    font-size: 50px;
    line-height: 1;
    padding: 30px;
    background-color: var(--cor2);
    color: var(--cor0);
    margin-left: 50px;
    box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.367);

}

section#banner {
    background-image: url('../imagens/img001.png');
}

section.seccontact {

}

section.seclocal {
    background-color: var(--cor1);
}

footer {
    background-color: #f0e8d6;
    height: 300px;
}

footer p {
    font-family: var(--font-principal);
    font-size: 0.8em;
    text-align: center;
    padding-top: 260px;
    color: var(--cor0);
}