@charset "UTF-8";

/*

Versão

Identidade Visual · Granulados

Paleta de Cores
   Vinho   #532524 
   Dourado #c4933f
   Bege    #e0d5bb

-------------------------------

Fontes
    font-family: dystopian, sans-serif;
    font-style: normal;
    font-weight: 300;

*/

@font-face {
    font-family: 'Caligna'; /* Cria um nome para a sua fonte que add ao arquivo e utiliza esse nome dentro da font-family. Ex. no h2 e p */
    src: url('../font/CalignaDEMO.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Variaveis Color.Font */
:root {
    --cor0: #532524;
    --cor1: #c4933f;
    --cor2: #e0d5bb;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-briga: seravek-web, sans-serif;
    --fonte-granulados: 'Caligna', cursive;
    --font-principal: dystopian, sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

body, html {
    min-height: 100%;
    background-color: var(--cor0);
}

header {
    background-color: var(--cor2);
    padding-bottom: 15px;
}

div#topologo {
    display: inline-block;
    text-align: center;
    margin-left: 30px;
    margin-top: 20px;
}

p#logogran {
    font-family: var(--fonte-granulados);
    color: var(--cor0);
    font-size: 2em;
}

p#logobrig {
    font-family: var(--fonte-briga);
    color: var(--cor0);
    font-size: 0.3em;
}

i#iconmenu {
    color: var(--cor0);
    position: absolute;
    top: 20px;
    right: 30px;
    display: block;
    cursor: pointer;
}

i#iconmenu:hover {
    color: var(--cor1);
}

menu {
    display: none;
}

menu > ul {
    list-style-type: none;
    border-top: 1px solid var(--cor0);
    margin-top: 16px;
}

menu > ul > li > a {
    display: block;
    background-color: var(--cor2);
    color: var(--cor0);
    text-decoration: none;
    font-family: var(--font-principal);
    font-size: 0.8em;
    padding: 20px 30px 8px;
}

menu > ul > li > a:hover {
    color: var(--cor1);
}

main {
    margin: auto;
}

section#banner {
    padding-top: 20vh;
    padding-bottom: 20vh;
    line-height: 2em;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.267);
    background: url('../imagens/img04.jpeg') no-repeat top right;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

div#textbanner {
    display: inline-block;
    background-color: var(--cor2);
    color: var(--cor0);
    font-family: var(--font-principal);
    font-size: 1.5em;
    margin-left: 30px;
    box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.367);   
}

div#textbanner > p {
    padding: 10px;
    text-align: left;   
}

section#event {
    background-color: var(--cor1);
}

section#event > h2 {
    padding: 30px;
    font-family: var(--font-principal);
    color: var(--cor0);
    text-align: center;
}

section#event > p {
    text-align: justify;
    padding: 0px 30px 30px 30px;
    font-family: var(--font-principal);
    color: var(--cor2);
}

div#imgevent {
    background: url('../imagens/img05.jpeg') left;
    height: 50vh;

}

section#contact > h2 {
    font-family: var(--font-principal);
    color: var(--cor0);
    background-color: var(--cor2);
    text-align: center;
    padding: 30px 30px 30px 30px;
}

section#contact > p {
    font-family: var(--font-principal);
    color: var(--cor2);
    text-align: center;
}

section#location > h2 {
    font-family: var(--font-principal);
    color: var(--cor0);
    background-color: var(--cor2);
    padding: 30px 30px 30px 30px;
}

div#toprodape {
    background-color:#391d1c;
    height: 30px;
    margin-top: -4px;
}

footer {
    background-color: var(--cor0);
    height: 150px;
}

footer p {
    font-family: var(--font-principal);
    font-size: 0.5em;
    text-align: center;
    color: #391d1c;
}

p#logorodape {
    font-family: var(--fonte-granulados);
    color: #391d1c;
    font-size: 1.5em;
    padding-top: 20px;
}